@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

body {
	font-family: 'DIN', Helvetica, sans-serif;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
	margin: 0;
}

.home {
	padding-top: 4em;
	text-align: center;
}

.page-head {
	width: 900px;
	height: 400px;
	background-image: url("http://placehold.it/900x400");
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.pg-title {
	text-align: center;
	padding-top: 5em;
	font-size: 20px;
	color: white;
}

.btn {
	color: white;
	border: 2px solid white;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	padding: .6em 1em;
	transition: all 350ms ease;
}

.btn:hover {
	border: 2px solid #FDB823;
	background-color: #FDB823;
}

.text-wrapper {
	margin: 0 auto;
	width: 70%;
	color: white;
	padding: 2em 0;
}

.subhead {
	font-size: 23px;
	letter-spacing: 1px;
	font-weight: 500;
}

nav {
	position: fixed;
	background-color: white;
	width: 100%;
	border-bottom: 1px solid black;
	clear: both;
	z-index: 1000;
	padding: .5em 0;
}

.logo {
	float: left;
	margin-left: 5em;
}

.nav-list {
	float: right;
	margin-right: 5em;
	letter-spacing: 1px;
}

p {
	font-size: 15px;
	line-height: 1.75em;
	font-weight: 100;
}

.fa-cube, .fa-2x {
	color: #354B5E;
}

.fa {
	margin-top: 1em;
}

.fa-key {
	color: #ccc;
}

.text-wrapper-b {
	color: black;
	margin: 0 auto;
	width: 80%;
}

.section-head {
	color: #475F77;
	font-size: 23px;
	letter-spacing: 1px;
	font-weight: 500;
	padding-top: 2em;
}

.feat {
	font-size: 16px;
	letter-spacing: 1px;

}

td {
	text-align: right;
}

.left {
	text-align: left;
	padding-left: .5em;

}

/* grid */

.grid {
  overflow: hidden;
  clear: both;
  padding: 1rem 0;
  margin: 0 auto;
  width: 900px;
}

.unit {
  float: left;
}

.gutter {
  padding: 1rem;
}

.unit-1 {
	width: 100%;
	background-color: #ccc;
	height: 330px;
	position: relative;
	top: 330px;
	padding: 330px;
}

.unit-1-2-short,
.unit-1-2-long {
  width: 49%;
	background-color: #475F77;
}

.unit-1-2-short {
	height: 300px;
	margin-right: .5em;
}

.unit-1-2-long {
	height: 650px;
	margin-left: .5em;
}

.unit-2-2-short,
.unit-2-2-long {
	background-color: #475F77;
}

.unit-2-2-short {
	height: 300px;
	position: absolute;
	width: 441px;
	top: 1175px;
	right: 263px;
}

.unit-2-2-long {
	height: 650px;
	position: absolute;
	width: 441px;
	top: 826px;
}

.unit-square {
	width: 49%;
	background-color: #475F77;
	height: 400px;
	margin-right: .5em;
}

.unit-square2 {
	width: 49%;
	background-color: #475F77;
	height: 400px;
	margin-left: .5em;
}

.unit-prod {
	width: 49%;
	height: 250px;
}
